body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,95,1) 35%, rgba(0,212,255,1) 100%);
}

h2{
    text-align: center;
}



.ima_carousel{
    width: 100%;
    height: 700px;
    
    }


.boton_compartir{
    text-align: center;
}

.btn-primary{
    color: black;
    border-radius: 50px;
    width: 200px;
    height: 45px;
}

.boton{
    text-align: center;
    padding-bottom:45px ;
}
button{
    width: 200;
}

.row_subtitulo{
    color: paleturquoise;
}

@media (max-width: 576px){
    .ima_carousel{
        height: 200px;
    }
}

